* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	font-family: arial, sans-serif;
	font-size: 16px;
	background: #4a465b;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

header {
	background: #fff;
}

header nav {
	width: 100%;
}

header nav ul {
	width: 100%;
	overflow: hidden;
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	color: #000;
}

header nav ul li a:hover {
	background: #000;
	color: #fff;
}

.main {
	width: 70%;
	background: #fff;
	float: left;
}

.main .imagen {
	width: 100%;
}

.main .imagen img {
	width: 100%;
	vertical-align: top;
}

.main .posts {
	padding: 40px;
}

.main .posts article h2 {
	margin-bottom: 20px;
	text-align: center;
	color: #424242;
}

.main .posts article p {
	margin-bottom: 15px;
	line-height: 20px;
}

.main h1 {
	margin-top: 20px;
	text-align: center;
	color: #424242;
}

.main .galeria {
	float: right;
	width: 100%;
	margin-top: 20px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: top;
}

.main .galeria img {
	width: 49.5%;
	border: 2px solid rgba(0, 0, 0, 0);
}

.main .videos {
	width: 100%;
	margin-top: 20px;
}

.main .videos iframe {
	padding: 10px;
	width: 100%;
}

aside {
	width: 30%;
	background: #161f26;
	padding: 20px;
	color: #fff;
	float: left;
}

aside .widget {
	margin-bottom: 20px;
}

aside .widget .titulo {
	color: #ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}

aside .widget ul {
	list-style: none;
}

aside .widget ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 0;
}

aside .widget ul li a {
	color: #fff;
	text-decoration: none;
}

aside .widget ul li a:hover {
	color: #8f8f8f;
}

aside .widget p {
	line-height: 27px;
}

footer {
	width: 70%;
	clear: both;
	background: #000;
	color: #fff;
	padding: 15px 0;
	text-align: center;
}

@media screen and (max-width: 800px) {
	.main {
		width: 100%;
		font-size: 14px;
	}

	.main .galeria {
		padding: 0;
	}

	.main .galeria img {
		width: 100%;
		padding: 10px;
		border: none;
	}

	aside {
		width: 100%;
		font-size: 14px;
	}

	footer {
		width: 100%;
		font-size: 14px;
	}
}

@media screen and (min-width: 800px) {
	.main .galeria img:hover {
		cursor: pointer;
		border: 2px solid #ff8000;
		opacity: 0.8;
	}
}